node_modules/
/reports
/blob-report/
/playwright/.cache/

# macOS
.DS_Store

# VS Code
.vscode/

# Node.js
node_modules/

# Playwright
/reports/
/blob-report/
/playwright/.cache/

# Jenkins
.jenkins/
*.xml
*.key
*.enc

# Diğer
*.log
.env